.head {
    background: #007d80;
	height:75px;
	/*overflow:hidden;*/
}
.layout-title{
	color:white;
	font-family:verdana;
	font-size:150%;
	padding:10px;
}
.mat{
	height:450px;
	font-family:verdana;
}
.status{
	color:#007d80;
	text-align:center;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
.left{
	text-align:left;
}

ul {
  list-style-type: none;
 
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  
}
.foot {
    background-color: #b5baba;
	height:35px;
	
}
.foot-text{
	font-size:100%;
	padding:7px;
}
.logo {
    height: 60px;
    width: 60px;
    padding: 3px;
    margin-left: 25px;
}
.menu-table{
	border-collapse:collapse;
}
table {
    margin: 2px auto;
	border:2px black;
	
}

table caption {
    text-align: left;
    margin-top: 50px;
}
.edit-body{
	
	margin-left:300px;margin-right:300px;
	margin-top:50px;
}
.form-control {
  border: 2px solid grey;
  border-radius: 4px;
  margin:5px 0;
  padding:7px;
}
.form-control:focus {
  border: 2px solid #007d80;
}
button {
  background-color: #007d80;
  border: none;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size:17px
}
.mid-form{
	float:left;
	margin:20px 15px;
}
.cart-empty {
	text-align:center;
    margin-left: 100px;
   margin-top: 100px;
}

#admin-table tr:hover{
	background-color: #f5f5f5;
	}
#customer-table tr:hover {
	background-color: #f5f5f5;
	}
	#cart-table tr:hover {
	background-color: #f5f5f5;
	}
th, td {
  padding: 5px;
}
#admin-table td:nth-child(1) {
    text-align: left;
}

#admin-table td:nth-child(3) {
    text-align: center;
}

#admin-table td:nth-child(4) {
    text-align: center;
}

#admin-table td:nth-child(5) {
    text-align: center;
}

#admin-table td:nth-child(6) {
    text-align: center;
}

#admin-table td:nth-child(7) {
    text-align: center;
}

#customer-table td:nth-child(1) {
    text-align: left;
}

#customer-table td:nth-child(2) {
    text-align: center;
}

#customer-table td:nth-child(4) {
    text-align: left;
}

#customer-table td:nth-child(5) {
    text-align: center;
}

#cart-table td:nth-child(1) {
    text-align: left;
}

#cart-table td:nth-child(2) {
    text-align: left;
}

#cart-table tr:last-child {
    font-weight: bold;
}